:root {
    --color-darkblue: darkblue;
    --color-gray: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--color-darkblue);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color-darkblue);
    border-bottom: 1px solid #000;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--color-gray);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(130, 185, 231);
    padding: 2px;
    box-shadow: 0 0 30px var(--color-gray);
    float: right;
    margin: 1rem 0 1rem 1rem;
}

aside h2 {
    position: absolute;
    top: 110px;
    left: 120px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}